.courceblo {
    display: flex;
}


.leftblo {
    /* background-color: rgb(116, 48, 48); */
    width: 100%;
    height: 18cm;
}

.nav {
    background-color: rgb(242, 242, 242);
    z-index: 1;
    width: 100%;
    height: 3cm;
    position: fixed;
}

.for {
    display: flex;
    gap: 50px;
    height: 1cm;
    margin: 50px;
}

.prs {
    position: relative;
    bottom: 20px;
    /* cursor: pointer; */
}


select {
    cursor: pointer;

}

#courseList {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 50px;
}

.pagination {
    margin: 80px 0px;
}

.filterbut {
    display: none;
}

@media only screen and (max-width: 600px) {
    .courceblo {
        display: flex;
    }


    .leftblo {
        /* background-color: rgb(116, 48, 48); */
        width: 100%;
        height: 18cm;
    }

    .nav {
        background-color: rgb(242, 242, 242);
        z-index: 1;
        width: 100%;
        height: 14cm;
        position: fixed;
        display: none;
    }



    .prs {
        position: relative;
        bottom: 20px;
        /* cursor: pointer; */
    }


    select {
        cursor: pointer;

    }

    #courseList {
        display: grid;
        grid-template-columns: auto;
        gap: 50px;
        margin: 0px 45px;

    }

    #filterForm {
        /* background-color: rebeccapurple; */
        width: 100%;
    }

    .for {
        display: grid;
        grid-template-columns: auto;
        gap: 50px;
        width: 20px;
        /* background-color: red; */
        margin: 100px 0px;
    }

    #courseList div {
        width: 270px;
        /* background-color: red; */
    }

    .pagination {
        margin: 40px 50px;
    }

    .filterbut {
        display: block;
        z-index: 1;
        position: fixed;

    }

    #filterbut {
        background-color: rgb(22, 150, 24);
        border: 0px solid;
        padding: 10px;
        width: 100px;
        color: white;
        border-radius: 0px 0px 100px 0px;
        position: relative;
        bottom: 140px;
        z-index: 2;
    }

    #filterbut:hover {
        background-color: rgb(17, 99, 18);

    }

    #close {
        background-color: rgb(255, 0, 0);
        border: 0px solid;
        padding: 10px;
        width: 100px;
        color: white;
        border-radius: 0px 0px 100px 0px;
        position: relative;
        bottom: 140px;
        z-index: 2;
        display: none;
        text-align: left;
    }

    #close:hover {
        background-color: rgb(173, 16, 16);

    }
}