.courceblo{
    display: flex;
}


.leftblo{
    /* background-color: rgb(116, 48, 48); */
    width: 100%;
    height: 18cm;
}
.nav{
    background-color: rgb(242, 242, 242);
    z-index: 1;
    width: 100%;
    height: 3cm;
    position: fixed;
}
.for{
    display: flex;
    gap: 50px;
    height: 1cm;
    margin: 50px;
}

.prs{
    position: relative;
    bottom: 20px;
    /* cursor: pointer; */
}


select{
    cursor: pointer;

}

#courseList{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 50px;
}

.pagination{
    margin: 80px 0px;
}
